# Note: contents has moved!

This file was moved to [providing-results-by-token](providing-results-by-token.md) to accommodate vaccinations and recovery certificates. 
