# Note: content has moved!

Depending on your situation, you need one of these docs:

* For providers who are allowed to hand out results that can be used for a European DGC, you will need to connect using these protocols:
  * [Test/vaccination/recovery token based protocol version 3](https://github.com/minvws/nl-covid19-coronacheck-app-coordination/blob/main/docs/providing-events-by-token.md)
  * [Test/vaccination/recovery digid based protocol version 3](https://github.com/minvws/nl-covid19-coronacheck-app-coordination/blob/main/docs/providing-events-by-digid.md)

* For providing test results that don't need to be EU compatible, use this protocol:
  * [Test result token protocol version 2](https://github.com/minvws/nl-covid19-coronacheck-app-coordination/blob/test-provider-protocol-2.0/docs/providing-test-results.md)

When in doubt, discuss this with your CoronaCheck liaison. 
