# Note: content has moved!

Depending on your situation, you need one of these docs:

md)

* For providing test results for the current version of the app, use this protocol:
  * [Test result token protocol version 2](providing-test-results.md)

* For providers who are preparing to hand out results that can be used for a European DGC, you will need to connect using these protocols:
  * [Test/vaccination/recovery token based protocol version 3](providing-events-by-token.md)
  * [Test/vaccination/recovery digid based protocol version 3](providing-events-by-digid.md)

When in doubt, discuss this with your CoronaCheck liaison. 
