# Note: contents has moved!

This file was moved to [providing-events-by-token](providing-events-by-token.md) to accommodate vaccinations and recovery certificates. 
